{% capture props %}
{
  {% if block_data_from_metafields %}
    "modsettings": {{ mod_settings }}
  {% elsif block_data_from_collections %}
    "modsettings": {{ mod_settings | json }}
  {% else %}
    "modsettings": {{ mod_settings | json }}
  {% endif %}
}
{% endcapture %}

{% assign tile_layout = 'single' %}
{% if block_data_from_metafields %}
  {% if collection.metafields.custom_fields["super_tile-large_image"] != blank and collection.metafields.custom_fields["super_tile-small_image_1"] != blank and collection.metafields.custom_fields["super_tile-small_image_2"] != blank%}
    {% assign tile_layout = 'grid' %}
  {% endif %}
{% elsif block_data_from_collections %}
  {% if mod_settings.large_desktop_image != blank and mod_settings.small_desktop_image_1 != blank and mod_settings.small_desktop_image_2 != blank%}
    {% assign tile_layout = 'grid' %}
  {% endif %}
{% else %}
  {% if mod_settings.large_desktop_image != blank and mod_settings.small_desktop_image_1 != blank and mod_settings.small_desktop_image_2 != blank%}
    {% assign tile_layout = 'grid' %}
  {% endif %}
{% endif %}

<div :style="sectionBackgroundColor" class="flex flex-wrap w-full px-4 md:px-10 py-5 md:py-10 justify-center" data-vue-component="TileGrid" data-props="{{ props | escape | strip_newlines }}">

  {% if mod_settings.optional_header != blank %}
    <p 
      style="color: {{ mod_settings.optional_header_text_color }};" 
      class="font-bold text-e36 tracking-wide uppercase w-full text-center hidden md:block mb-e40">
      {{ mod_settings.optional_header }}
    </p>
  {% endif %}
  
  {% if tile_layout == 'grid' %}
    <div class="flex flex-wrap w-full md:flex-no-wrap justify-between max-w-lg mx-auto">
      <div class="w-full md:w-2/3 md:mr-9" data-aos="fade-up">
        <div
          :class="[modsettings.textbox_alignment == 'top' ? 'items-start' : 'items-end']"
          class="w-full flex justify-between content-start relative">
          <a :href="modsettings.large_cta_1_link_url" class="relative w-full h-full top-0 left-0 focus:shadow-outline">
            <img v-if="$mq === 'sm'" class="lazy w-full h-full top-0 left-0 object-cover" :data-src="imageCrop(imageSize(modsettings.large_mobile_image, '1200x2100'), 'center')" :src="imageCrop(imageSize(modsettings.large_mobile_image, '800x'), 'center')" alt="{{ mod_settings.large_desktop_image.alt }}">
            <img v-else class="lazy relative w-full h-full top-0 left-0 object-cover" :data-src="imageCrop(imageSize(modsettings.large_desktop_image, '1200x2100'), 'center')" :src="imageCrop(imageSize(modsettings.large_desktop_image, '800x'), 'center')" alt="{{ mod_settings.large_mobile_image.alt }}">
          </a>
          <div 
            :style="textboxBG"
            class="hidden md:flex absolute left-40 bottom-40 flex-wrap content-start p-10 w-2/3">
            <p 
              style="color: {{ mod_settings.large_preheader_text_color }}; border-color: {{ mod_settings.large_preheader_border_color }};" 
              class="font-primary font-bold uppercase text-md py-1 border-b-2 h-9 border-t-2 mb-3 tracking-header" v-if="modsettings.large_preheader">
              {{ mod_settings.large_preheader }}
            </p>
            <p 
              :style="largeHeaderColor"
              v-html="modsettings.large_header"
              v-if="modsettings.large_header"
              class="font-primary font-extrabold uppercase text-e28 md:text-e36 leading-3 mb-3 w-full tracking-header">
            </p>
            <div 
              :style="largeBodyColor"
              v-html="modsettings.large_body_copy"
              class="mb-6 carousel-text w-full large-tile-copy font-body font-semibold text-megamenu_sub md:text-md">
            </div>
            <div class="flex flex-wrap w-full">
              <a 
                v-if="modsettings.large_cta_1_link_url !== null"
                class="py-3 px-10 h-e50 w-2/3 md:w-auto focus:shadow-outline text-center whitespace-no-wrap mb-4 mr-4 font-primary font-bold uppercase tracking-header transition-all duration-200 hover:filter-brightness" 
                :style="largeCTA1Color"
                v-html="modsettings.large_cta_1_link_text"
                :href="modsettings.large_cta_1_link_url">
              </a>
              <a 
                v-if="modsettings.large_cta_2_link_url && modsettings.large_cta_2_link_url !== ''"
                class="py-3 px-10 h-e50 w-2/3 md:w-auto focus:shadow-outline text-center whitespace-no-wrap mb-4 font-primary font-bold uppercase tracking-header transition-all duration-200 hover:filter-brightness" 
                :style="largeCTA2Color"
                v-html="modsettings.large_cta_2_link_text"
                :href="modsettings.large_cta_2_link_url">
              </a>
            </div>
          </div>
          {% if mod_settings.youtube_video_url != blank or mod_settings.shopify_video_url != blank %}
            <svg 
              is="Icon" 
              @click="videoModal = true" 
              name="play" 
              size="80px"
              :style="playButtonGridPosition($mq)"
              style="right: calc(33.33% + 38px)"
              class="bg-black hover:bg-btn-secondary_hover absolute transition-all duration-200 text-white p-8 z-10 {% if mod_settings.textbox_alignment == 'top' %}-mt-10{% else %}-mt-e640 md:-mt-e840{% endif %}">
            </svg>
          {% endif %}
        </div>
        <div 
          :style="textboxBG"
          class="flex flex-wrap content-start justify-center py-10 px-6 w-full md:hidden">
          <p style="color: {{ mod_settings.large_preheader_text_color }}; border-color: {{ mod_settings.large_preheader_border_color }};" class="font-primary font-bold uppercase text-md py-1 border-b-2 h-9 border-t-2 mb-3" v-if="modsettings.large_preheader">{{ mod_settings.large_preheader }}</p>
          <p 
            :style="largeHeaderColor"
            v-html="modsettings.large_header"
            v-if="modsettings.large_header"
            class="font-primary font-extrabold uppercase text-center text-e36 md:text-e48 leading-3 mb-3 w-full tracking-header">
          </p>
          <div 
            :style="largeBodyColor"
            v-html="modsettings.large_body_copy"
            class="mb-6 carousel-text w-full large-tile-copy font-body font-semibold text-center text-megamenu_sub md:text-md">
          </div>
          <div class="flex w-full flex-wrap justify-center">
            <a 
              v-if="modsettings.large_cta_1_link_url !== null"
              class="py-3 px-10 h-e50 focus:shadow-outline w-full md:w-auto text-center whitespace-no-wrap mb-4 font-primary font-bold uppercase tracking-header transition-all duration-200 hover:filter-brightness" 
              :style="largeCTA1Color"
              v-html="modsettings.large_cta_1_link_text"
              :href="modsettings.large_cta_1_link_url">
            </a>
            <a 
              v-if="modsettings.large_cta_2_link_url && modsettings.large_cta_2_link_url !== ''"
              class="py-3 px-10 h-e50 focus:shadow-outline w-full md:w-auto text-center whitespace-no-wrap mb-4 font-primary font-bold uppercase tracking-header transition-all duration-200 hover:filter-brightness" 
              :style="largeCTA2Color"
              v-html="modsettings.large_cta_2_link_text"
              :href="modsettings.large_cta_2_link_url">
            </a>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 md:flex flex-col justify-between" data-aos="fade-up" data-aos-delay="200">
        <div 
          @mouseover="modsettings.static_hover_tile_1 === false ? showSmallTile1 = true : ''"
          @keydown="modsettings.static_hover_tile_1 === false ? showSmallTile1 = true : ''"
          @mouseleave="modsettings.static_hover_tile_1 === false ? showSmallTile1 = false : ''"
          class="w-full flex justify-between items-end content-start overflow-hidden md:mb-e28 relative">
          <a :href="modsettings.small_link_1_url_1" class="relative focus:shadow-outline w-full h-full top-0 left-0">
            <img v-if="$mq === 'sm'" class="lazy w-full h-full top-0 left-0 object-cover" :data-src="imageCrop(imageSize(modsettings.small_mobile_image_1, '1000x'), 'center')" :src="imageCrop(imageSize(modsettings.small_mobile_image_1, '600x'), 'center')" alt="{{ mod_settings.small_mobile_image_1.alt }}">
            <img v-else class="lazy relative w-full h-full top-0 left-0 object-cover" :data-src="imageCrop(imageSize(modsettings.small_desktop_image_1, '1000x'), 'center')" :src="imageCrop(imageSize(modsettings.small_desktop_image_1, '600x'), 'center')" alt="{{ mod_settings.small_desktop_image_1.alt }}">
          </a>
          <div 
            :style="smallTile1Background"
            :class="[showSmallTile1 ? 'active' : '']"
            class="hidden md:flex flex-wrap justify-center content-start px-4 py-6 w-full clip-triangle transition-all duration-300 relative md:absolute bottom-0 left-0">
            <p 
              v-if="modsettings.small_preheader_1"
              :style="smallTile1PreheaderColor"
              v-html="modsettings.small_preheader_1"
              class="font-primary font-bold text-center text-e16 w-full uppercase tracking-header z-1">
            </p>
            <p 
              :style="smallTile1TextColor"
              v-html="modsettings.small_header_1"
              class="font-primary font-bold uppercase text-e22 md:text-e28 leading-3 w-full tracking-header z-1 relative" :class="modsettings.static_hover_tile_1 === false ? 'text-center' : 'text-left'">
            </p>
            <transition-expand :duration="300" v-cloak v-show="staticHoverTile1">
              <section 
                v-if="modsettings.small_link_1_url_1 !== '' && modsettings.small_link_2_url_1 !== '' && modsettings.small_link_3_url_1 !== ''"
                class="flex w-full justify-center flex-col items-center">
                <div class="flex w-full flex-wrap md:mt-2 justify-center z-1 relative">
                  <p 
                    v-if="modsettings.small_description_1"
                    :style="smallTile1TextColor"
                    v-html="modsettings.small_description_1"
                    class="font-body text-center mb-2 text-e16 leading-3 w-full tracking-wide z-1">
                  </p>
                  <a 
                    v-if="modsettings.small_link_1_url_1"
                    class="text-center whitespace-no-wrap md:mt-2 focus:shadow-outline font-primary text-md uppercase tracking-header underline" 
                    :style="smallTile1TextColor"
                    v-html="modsettings.small_link_1_text_1"
                    :href="modsettings.small_link_1_url_1">
                  </a>
                  <a 
                    v-if="modsettings.small_link_2_url_1"
                    class="text-center whitespace-no-wrap focus:shadow-outline mt-2 ml-4 font-primary text-md uppercase tracking-header underline" 
                    :style="smallTile1TextColor"
                    v-html="modsettings.small_link_2_text_1"
                    :href="modsettings.small_link_2_url_1">
                  </a>
                  <a 
                    v-if="modsettings.small_link_3_url_1"
                    class="text-center whitespace-no-wrap focus:shadow-outline mt-2 ml-4 font-primary text-md uppercase tracking-header underline" 
                    :style="smallTile1TextColor"
                    v-html="modsettings.small_link_3_text_1"
                    :href="modsettings.small_link_3_url_1">
                  </a>
                </div>
              </section>
            </transition-expand>  
          </div>
        </div>
        <div 
          :style="smallTile1Background"
          class="flex flex-wrap content-start py-5 w-full md:hidden">
          <p 
            v-if="modsettings.small_preheader_1"
            :style="smallTile1PreheaderColor"
            v-html="modsettings.small_preheader_1"
            class="font-primary text-center font-bold text-e16 w-full uppercase tracking-wide z-1">
          </p>
          <p 
            :style="smallTile1TextColor"
            v-html="modsettings.small_header_1"
            class="font-primary font-bold uppercase text-e22 my-e8 md:text-e28 leading-3 w-full tracking-header z-1 relative" :class="modsettings.static_hover_tile_1 === false ? 'text-center' : 'text-left'">
          </p>
          <p 
            v-if="modsettings.small_description_1"
            :style="smallTile1TextColor"
            v-html="modsettings.small_description_1"
            class="font-body text-center mb-2 text-e16 leading-3 w-full tracking-wide z-1">
          </p>
          <section 
            v-if="modsettings.small_link_1_url_1 !== '' && modsettings.small_link_2_url_1 !== '' && modsettings.small_link_3_url_1 !== ''"
            class="flex w-full justify-center flex-col items-center">
            <div class="flex w-full flex-wrap md:mt-2 justify-center z-1 relative">
              <a 
                v-if="modsettings.small_link_1_url_1"
                class="text-center whitespace-no-wrap focus:shadow-outline font-primary text-md uppercase tracking-header underline" 
                :style="smallTile1TextColor"
                v-html="modsettings.small_link_1_text_1"
                :href="modsettings.small_link_1_url_1">
              </a>
              <a 
                v-if="modsettings.small_link_2_url_1"
                class="text-center whitespace-no-wrap focus:shadow-outline ml-4 font-primary text-md uppercase tracking-header underline" 
                :style="smallTile1TextColor"
                v-html="modsettings.small_link_2_text_1"
                :href="modsettings.small_link_2_url_1">
              </a>
              <a 
                v-if="modsettings.small_link_3_url_1"
                class="text-center whitespace-no-wrap focus:shadow-outline ml-4 font-primary text-md uppercase tracking-header underline" 
                :style="smallTile1TextColor"
                v-html="modsettings.small_link_3_text_1"
                :href="modsettings.small_link_3_url_1">
              </a>
            </div>
          </section>
        </div>
        <div 
          @mouseover="modsettings.static_hover_tile_2 === false ? showSmallTile2 = true : ''"
          @keydown="modsettings.static_hover_tile_2 === false ? showSmallTile2 = true : ''"
          @mouseleave="modsettings.static_hover_tile_2 === false ? showSmallTile2 = false : ''"
          class="w-full flex justify-between items-end content-start overflow-hidden relative">
          <a :href="modsettings.small_link_1_url_2" class="relative w-full h-full top-0 left-0 focus:shadow-outline">
            <img v-if="$mq === 'sm'" class="lazy w-full h-full top-0 left-0 object-cover" :data-src="imageCrop(imageSize(modsettings.small_mobile_image_2, '1000x'), 'center')"  alt="{{ mod_settings.small_mobile_image_2.alt }}">
            <img v-else class="lazy relative w-full h-full top-0 left-0 object-cover" :data-src="imageCrop(imageSize(modsettings.small_desktop_image_2, '1000x'), 'center')" alt="{{ mod_settings.small_desktop_image_2.alt }}">
          </a>
          <div 
            :style="smallTile2Background"
            :class="[showSmallTile2 ? 'active' : '']"
            class="hidden md:flex flex-wrap justify-center md:absolute bottom-0 left-0 content-start px-4 py-6 w-full clip-triangle transition-all duration-300">
            <p 
              v-if="modsettings.small_preheader_2"
              :style="smallTile2PreheaderColor"
              v-html="modsettings.small_preheader_2"
              class="font-primary font-bold text-center text-e16 w-full uppercase tracking-header z-1">
            </p>
            <p 
              :style="smallTile2TextColor"
              v-html="modsettings.small_header_2"
              class="font-primary font-bold uppercase text-e22 md:text-e28 leading-3 w-full tracking-header z-1 relative"  :class="modsettings.static_hover_tile_2 === false ? 'text-center' : 'text-left'">
            </p>
            <transition-expand :duration="300" v-cloak v-show="staticHoverTile2">
              <section 
                v-if="modsettings.small_link_1_url_2 !== '' && modsettings.small_link_2_url_2 !== '' && modsettings.small_link_3_url_2 !== ''"
                class="flex w-full justify-center flex-col items-center">
                <div class="flex w-full flex-wrap md:mt-2 justify-center z-1 relative">
                  <p 
                    v-if="modsettings.small_description_2"
                    :style="smallTile1TextColor"
                    v-html="modsettings.small_description_2"
                    class="font-body text-center mb-2 text-e16 w-full tracking-wide z-1">
                  </p>
                  <a 
                    v-if="modsettings.small_link_1_url_2"
                    class="text-center whitespace-no-wrap font-primary focus:shadow-outline text-md uppercase tracking-header underline w-2/5" 
                    :style="smallTile2TextColor"
                    v-html="modsettings.small_link_1_text_2"
                    :href="modsettings.small_link_1_url_2">
                  </a>
                  <a 
                    v-if="modsettings.small_link_2_url_2"
                    class="text-center whitespace-no-wrap ml-4 focus:shadow-outline font-primary text-md uppercase tracking-header underline w-2/5" 
                    :style="smallTile2TextColor"
                    v-html="modsettings.small_link_2_text_2"
                    :href="modsettings.small_link_2_url_2">
                  </a>
                  <a 
                    v-if="modsettings.small_link_3_url_2"
                    class="text-center whitespace-no-wrap ml-4 focus:shadow-outline font-primary text-md uppercase tracking-header underline w-2/5" 
                    :style="smallTile2TextColor"
                    v-html="modsettings.small_link_3_text_2"
                    :href="modsettings.small_link_3_url_2">
                  </a>
                </div>
              </section>
            </transition-expand>  
          </div>
        </div>
        <div 
          :style="smallTile2Background"
          class="flex flex-wrap content-start px-4 py-5 w-full md:hidden">
          <p 
            v-if="modsettings.small_preheader_2"
            :style="smallTile2PreheaderColor"
            v-html="modsettings.small_preheader_2"
            class="font-primary text-center font-bold text-e16 w-full uppercase tracking-wide z-1">
          </p>
          <p 
            :style="smallTile2TextColor"
            v-html="modsettings.small_header_2"
            class="font-primary font-bold uppercase text-e22 my-e8 md:text-e28 leading-3 w-full tracking-header z-1 relative" :class="modsettings.static_hover_tile_2 === false ? 'text-center' : 'text-left'">
          </p>
          <p 
            v-if="modsettings.small_description_2"
            :style="smallTile2TextColor"
            v-html="modsettings.small_description_2"
            class="font-body text-center mb-2 text-e16 leading-3 w-full tracking-wide z-1">
          </p>
          <section 
            v-if="modsettings.small_link_1_url_2 !== '' && modsettings.small_link_2_url_2 !== '' && modsettings.small_link_3_url_2 !== ''"
            class="flex w-full justify-center flex-col items-center">
            <div class="flex w-full flex-wrap md:mt-2 justify-center z-1 relative">
              <a 
                v-if="modsettings.small_link_1_url_2"
                class="text-center whitespace-no-wrap text-center font-primary focus:shadow-outline text-md uppercase tracking-header underline" 
                :style="smallTile2TextColor"
                v-html="modsettings.small_link_1_text_2"
                :href="modsettings.small_link_1_url_2">
              </a>
              <a 
                v-if="modsettings.small_link_2_url_2"
                class="text-center whitespace-no-wrap ml-4 font-primary focus:shadow-outline text-md uppercase tracking-header underline" 
                :style="smallTile2TextColor"
                v-html="modsettings.small_link_2_text_2"
                :href="modsettings.small_link_2_url_2">
              </a>
              <a 
                v-if="modsettings.small_link_3_url_2"
                class="text-center whitespace-no-wrap  ml-4 font-primary focus:shadow-outline text-md uppercase tracking-header underline" 
                :style="smallTile2TextColor"
                v-html="modsettings.small_link_3_text_2"
                :href="modsettings.small_link_3_url_2">
              </a>
            </div>
          </section>
        </div>
      </div>
    </div>
  {% elsif tile_layout == 'single' %}
    <div
      :class="[modsettings.textbox_alignment == 'top' ? 'items-start' : 'items-end']"
      class="w-full bg-no-repeat bg-cover flex content-start relative max-w-lg mx-auto single-image">
      <img class="w-full" :src="largeTileBackgroundImage($mq)" alt="{{ mod_settings.large_desktop_image.alt }}">
      <div 
        :style="textboxBG"
        class="hidden md:flex flex-wrap content-start p-10 w-2/5 h-1/2 absolute bottom-40 left-40">
        <p style="color: {{mod_settings.large_preheader_text_color }}; border-color: {{ mod_settings.large_preheader_border_color }};" class="font-primary font-bold uppercase text-md py-1 border-b-2 h-9 border-t-2 mb-3">{{ mod_settings.large_preheader }}</p>
        <p 
          :style="largeHeaderColor"
          v-html="modsettings.large_header"
          class="font-primary font-extrabold uppercase text-e36 md:text-e48 leading-3 mb-3 w-full tracking-header">
        </p>
        <div 
          :style="largeBodyColor"
          v-html="modsettings.large_body_copy"
          class="mb-6 carousel-text w-full large-tile-copy font-body font-semibold text-megamenu_sub md:text-md large-tile-copy">
        </div>
        <div class="flex w-full">
          <a 
            v-if="modsettings.large_cta_1_link_url !== null"
            class="py-3 px-10 h-e50 w-2/3 md:w-auto text-center whitespace-no-wrap mb-4 mr-4 font-primary font-bold uppercase tracking-header  transition-all duration-200 hover:filter-brightness focus:shadow-outline" 
            :style="largeCTA1Color"
            v-html="modsettings.large_cta_1_link_text"
            :href="modsettings.large_cta_1_link_url">
          </a>
          <a 
            v-if="modsettings.large_cta_2_link_url && modsettings.large_cta_2_link_url !== ''"
            class="py-3 px-10 h-e50 min-w-2/3 md:w-auto text-center focus:shadow-outline whitespace-no-wrap mb-4 font-primary font-bold uppercase tracking-header transition-all duration-200 hover:filter-brightness" 
            :style="largeCTA2Color"
            v-html="modsettings.large_cta_2_link_text"
            :href="modsettings.large_cta_2_link_url">
          </a>
        </div>
      </div>
      {% if mod_settings.youtube_video_url != blank or mod_settings.shopify_video_url != blank %}
        <svg 
          is="Icon" 
          @click="videoModal = true" 
          :style="playButtonSinglePosition($mq)"
          name="play" 
          size="80px" 
          class="bg-black hover:bg-btn-secondary_hover absolute transition-all duration-200 text-white p-8 z-10 {% if mod_settings.textbox_alignment == 'top' %}-mt-10{% else %}-mt-e640 md:-mt-e840{% endif %}">
        </svg>
      {% endif %}
    </div>
    <div 
      :style="textboxBG"
      class="flex flex-wrap content-start p-10 w-full md:hidden">
      <p style="color: {{mod_settings.large_preheader_text_color }}; border-color: {{ mod_settings.large_preheader_border_color }};" class="font-primary font-bold uppercase text-md py-1 border-b-2 h-9 border-t-2 mb-3">{{ mod_settings.large_preheader }}</p>
      <p 
        :style="largeHeaderColor"
        v-html="modsettings.large_header"
        class="font-primary font-extrabold uppercase text-e36 md:text-e48 leading-3 mb-3 w-full tracking-header">
      </p>
      <div 
        :style="largeBodyColor"
        v-html="modsettings.large_body_copy"
        class="mb-6 carousel-text w-full large-tile-copy font-body font-semibold text-megamenu_sub md:text-md large-tile-copy">
      </div>
      <div class="flex w-full flex-wrap">
        <a 
          v-if="modsettings.large_cta_1_link_url !== null"
          class="py-3 px-10 h-e50 min-w-2/3 md:w-auto text-center focus:shadow-outline whitespace-no-wrap mb-4 mr-4 font-primary font-bold uppercase tracking-header  transition-all duration-200 hover:filter-brightness" 
          :style="largeCTA1Color"
          v-html="modsettings.large_cta_1_link_text"
          :href="modsettings.large_cta_1_link_url">
        </a>
        <a 
          v-if="modsettings.large_cta_2_link_url && modsettings.large_cta_2_link_url !== ''"
          class="py-3 px-10 h-e50 min-w-2/3 md:w-auto text-center focus:shadow-outline whitespace-no-wrap mb-4 font-primary font-bold uppercase tracking-header transition-all duration-200 hover:filter-brightness" 
          :style="largeCTA2Color"
          v-html="modsettings.large_cta_2_link_text"
          :href="modsettings.large_cta_2_link_url">
        </a>
      </div>
    </div>
  {% endif %}

  <button
    class="block bg-black opacity-50 fixed top-0 left-0 w-full h-full z-60"
    @click="videoModal = false"
    v-if="videoModal">
  </button>
  <div is="ModalWithOverlay" :open="videoModal" @update:open="videoModal = false" class="block video-modal" v-cloak>
    <button
      class="absolute p-1 transition-colors duration-300 focus:shadow-outline z-80 -top-4 -right-4"
      @click="videoModal = false"
    > 
      <svg is="Icon" name="modal-close" size="64px" class="bg-gray-200 text-black p-e18"></svg>
    </button>
    {% if mod_settings.youtube_video_url != blank %}
      <div class="flex justify-center">
        <iframe class="w-full" src="{{ mod_settings.youtube_video_url }}" height="600" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% elsif mod_settings.shopify_video_url != blank %}
      <div class="flex justify-center">
        <video class="w-full h-full" controls="controls" autoplay>
          <source src="{{ mod_settings.shopify_video_url }}" type="video/mp4" />
        </video>          
      </div>
    {% endif %}
  </div>
</div>